footer {
    background-color: #030303f0;
}

#foot {
   
    list-style: none;
    margin-right: 40px;
    background-color: #030303f0;
    color: #fcfbfbfc;
    justify-content: space-evenly;
    padding: 5px;
    
}

#foot:hover {
    background-color: #fcfbfbfc;
    color: #030303f0;
    padding: 13px;
    cursor: pointer;
}