.header {
    background-color: #030303f0;
    color: #fcfbfbfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: #030303f0;
}

#navbar {
    display: flex;
    background-color: #030303f0 fill;
    margin: 0;
    padding: 0;
    border: none;
}

#logo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    animation: rotateLogo 5s linear infinite;
}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#navbar a {
    text-decoration: none;
    color: #fcfbfbfc;
    font-weight: bold;
    font-size: 16px;
    margin-right: 40px;
    background-color: #030303f0;
}

#navbar a:hover {
    text-decoration: none;
    background-color: #fcfbfbfc;
    color: #030303f0;
    padding: 13px;
    justify-content: space-evenly;
}



.logo img{
    max-width: 100%;
}

li {
  margin: 5px;
  list-style: none;
  background-color: #030303f0;
}

#link {
    text-decoration: none;
    background-color: #030303f0;   
}